
@{
    Layout = null;
}

<!DOCTYPE html>

<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama</td>
        <td>True</td>
    </tr>
    <tr>
        
        <td>2</td>
        <td>spor</td>
        <td>Açıklama</td>
        <td>True</td>
    </tr>
</table>