
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Başlığımızdır</title>
</head>
<body>

    <div> Navbar</div>
    <div> 

        @RenderBody() 
    </div>
</body>
</html>
